{% extends "base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block breadcrumb %}
    <li><a href="{% url 'products:home' %}">Home</a></li>
    <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
    <li><a href="{% url 'accounts:my_products' %}">My Proudcts</a></li>
    <li class="active">Dashboard</li>
{% endblock breadcrumb %}


{% block content %}

        <div class="product-desc">
            {% include 'partials/_alert.html' %}
            <div class="col-md-7">
                <div class="sign-up">
                    <form action="{% url 'accounts:update_profile' %}" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="sign-u">
                            <div class="sign-up1">
                                <h4>{{updated_profile_form.first_name.label}}* :</h4>
                            </div>
                            <div class="sign-up2">


                                    {{updated_profile_form.first_name}}
                                    <span style="color:red">{{updated_profile_form.first_name.errors.as_text}}</span>

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="sign-u">
                            <div class="sign-up1">
                                <h4>{{updated_profile_form.last_name.label}}* :</h4>
                            </div>
                            <div class="sign-up2">


                                    {{updated_profile_form.last_name}}
                                    <span style="color:red">{{updated_profile_form.last_name.errors.as_text}}</span>

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="sign-u">
                            <div class="sign-up1">
                                <h4>{{updated_profile_form.phone_number.label}}* :</h4>
                            </div>
                            <div class="sign-up2">


                                    {{updated_profile_form.phone_number}}
                                    <span style="color:red">{{updated_profile_form.phone_number.errors.as_text}}</span>

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="sign-u">
                            <div class="sign-up1">
                                <h4>{{updated_profile_form.city.label}}* :</h4>
                            </div>
                            <div class="sign-up2">


                                    {{updated_profile_form.city}}
                                    <span style="color:red">{{updated_profile_form.city.errors.as_text}}</span>

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="sub_home">
                                <div class="sub_home_left">

                                        <input type="submit" value="Update">

                                </div>

                                <div class="clearfix"> </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{user.user_profile.profile_pic.url}}" class="img-responsive img-thumbnail img-rounded" width="236" height="236">
                <form action="{% url 'accounts:update_profile' %}" method="POST" enctype="multipart/form-data" class="form-inline">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group">
                            <input type="file" name="image" class="form-control">
                        </div>


                        <input type="submit" value="Update Image" class="btn btn-info btn-sm">

                    </div>
                </form>
            </div>
        </div>

{% endblock content %}
