{% extends "base.html" %}

{% load static %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}


{% block breadcrumb %}
    <li><a href="{% url 'products:home' %}">Home</a></li>
    <li>{{title}}</li>
{% endblock breadcrumb %}


{% block content %}
    <div class="work-section">
            <div class="container">
                <h2 class="head">How It Works</h2>
                    <div class="work-section-head text-center">
                        <p>Fast, easy and free to post an ad and you will find, what you are looking for.</p>
                    </div>
                    <div class="work-section-grids text-center">
                        <div class="col-md-3 work-section-grid">
                            <i class="fa fa-pencil-square-o"></i>
                            <h4>Post an Ad</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                            <span class="arrow1"><img src="{% static 'images/arrow1.png' %}" alt="" /></span>
                        </div>
                        <div class="col-md-3 work-section-grid">
                            <i class="fa fa-eye"></i>
                            <h4>Find an item</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                            <span class="arrow2"><img src="{% static 'images/arrow2.png' %}" alt="" /></span>
                        </div>
                        <div class="col-md-3 work-section-grid">
                            <i class="fa fa-phone"></i>
                            <h4>contact the seller</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                            <span class="arrow1"><img src="{% static 'images/arrow1.png' %}" alt="" /></span>
                        </div>
                        <div class="col-md-3 work-section-grid">
                            <i class="fa fa-money"></i>
                            <h4>make transactions</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                        </div>
                        <div class="clearfix"></div>
                        <a class="work" href="{% url 'products:home' %}">Get start Now</a>
                    </div>
                </div>
        </div>
{% endblock content %}
