{% extends "base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block breadcrumb %}
    <li><a href="{% url 'products:home' %}">Home</a></li>
    <li class="active">{{title}}</li>
{% endblock breadcrumb %}

{% block content %}

<div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-up">
                         <p>
                            We've emailed you instructions for setting your password, if an account exists with the email you entered.
                            You should receive them shortly.
                        </p>
                        <p>
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                        </p>


                    </div>
                </div>
            </div>

{% endblock %}




