{% extends "base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block breadcrumb %}
    <li><a href="{% url 'products:home' %}">Home</a></li>
    <li class="active">{{title}}</li>
{% endblock breadcrumb %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now.
                </p>
            </div>
        </div>
    </div>


{% endblock %}
