{% extends "base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}

{% block breadcrumb %}
    <li><a href="{% url 'products:home' %}">Home</a></li>
    <li class="active">{{title}}</li>
{% endblock breadcrumb %}

{% block content %}

<div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-up">
                      {% if validlink %}
                        {% include 'partials/_alert.html' %}
                        <h1>Rest Your Password</h1>
                        <p class="creating">Enter Your Email TO Reset</p>

                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="sign-u">
                            <div class="sign-up1">
                                <h4>{{form.new_password1.label}}* :</h4>
                            </div>
                            <div class="sign-up2">
                                {{form.new_password1}}
                                <span style="color:red">{{form.new_password1.errors.as_text}}</span>

                            </div>
                            <div class="clearfix"> </div>
                            </div>

                            <div class="sign-u">
                            <div class="sign-up1">
                                <h4>{{form.new_password2.label}}* :</h4>
                            </div>
                            <div class="sign-up2">
                                {{form.new_password2}}
                                <span style="color:red">{{form.new_password2.errors.as_text}}</span>

                            </div>
                            <div class="clearfix"> </div>
                            </div>



                            <div class="sub_home">
                                <div class="sub_home_left">

                                        <input type="submit" value="Chnage Password">

                                </div>
                               <div class="clearfix"> </div>
                            </div>
                        </form>
                      {% else %}
                       <p>
                          The password reset link was invalid, possibly because it has already been used.
                          Please request a new password reset.
                      </p>
                      {% endif %}
                    </div>
                </div>
            </div>

{% endblock %}


